#container {
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.btn-menu {
    border: 0px;
    background-color: white;
    text-decoration: none;
    color: black;
    margin: 0px 10px 0px 0px;
    font-family: "Open Sans", sans-serif;
}


.logo_title {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-left: 10%;
    align-items: center;
    font: 2em "Open Sans", sans-serif;
    color: rgb(130, 174, 63);
    text-decoration: none;
}

#menu-container {
    padding-right: 2%;
}

.container_card {
    height: 600px;
    width: 100%;
    background-color: #e5ebea;
    display: flex;
    justify-content: center;
    align-items: center;
}


.booking_list {
    background-color: #e5ebea;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
    align-items: center;
    font: 0.75em "Open Sans", sans-serif;
    font-weight: bolder;
}