#header {
    overflow: hidden;
background-color: #ffffff;
position: relative;
}  

h3 {
    text-align: center;
    font: 1em "Open Sans", sans-serif;
    font-weight: bolder;
}


#container {
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

p {
    font: 0.8em "Open Sans", sans-serif;
}

.btn-menu {
    border: 0px;
    background-color: white;
    text-decoration: none;
    color: black;
    margin: 0px 10px 0px 0px;
    font-family: "Open Sans", sans-serif;
}


.logo_title {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    align-items: center;
    font: 2em "Open Sans", sans-serif;
    color: rgb(130, 174, 63);
    text-decoration: none;
}

#menu-container {
    padding-right: 2%;
    text-decoration: none;
}


.container_purchase {
    height: 600px;
    background-color: #F2F4F3;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.background-purchase {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #e5ebea;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.text_container {
    background-color: #F6F1F0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
}

p {
    align-self: center;
}

#btn-search {
    padding: 3%;
    size: 10%;
    font: 0.75em "Open Sans", sans-serif;
    font-size: bolder;
    color: whitesmoke;
    background-color: #66A692;
    border: 0px;
    border-radius: 5px;
}

.footer_journey {
    background-color: #051544;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    font: 1em "Open Sans", sans-serif;
}

.delete {
    background-color: #66A692;
    padding: 8px 10px 10px 10px;
    text-align: center;
    border-radius: 7px;
    font: 0.3em "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
}

.logo_title {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    align-items: center;
    font: 2em "Open Sans", sans-serif;
    color: rgb(130, 174, 63);
}

#menu-container {
    padding-right: 2%;
}

.container_card {
    height: 600px;
    width: 100%;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
}


.booking_list {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
    align-items: center;
    font: 0.75em "Open Sans", sans-serif;
    font-weight: bolder;
}